[submodule "ArduinoSerialCommand"]
	path = lib/ArduinoSerialCommand
	url = https://github.com/boul51/ArduinoSerialCommand.git
[submodule "TFT"]
	path = lib/TFT
	url = https://github.com/boul51/TFT.git
[submodule "lib/ArduinoSerialCommand"]
	path = lib/ArduinoSerialCommand
	url = https://github.com/scogswell/ArduinoSerialCommand.git
[submodule "lib/TFT"]
	path = lib/TFT
	url = https://github.com/arduino-libraries/TFT.git
[submodule "lib/Arduino-PrintStream"]
	path = lib/Arduino-PrintStream
	url = https://github.com/boul51/Arduino-PrintStream.git
[submodule "lib/MemoryFree"]
	path = lib/MemoryFree
	url = https://github.com/mpflaga/Arduino-MemoryFree.git
[submodule "lib/OscDisplay"]
	path = lib/OscDisplay
	url = https://github.com/boul51/OscDisplay.git
[submodule "lib/arduino-printf"]
	path = lib/arduino-printf
	url = https://github.com/embeddedartistry/arduino-printf.git
[submodule "lib/arduino-logger"]
	path = lib/arduino-logger
	url = https://github.com/embeddedartistry/arduino-logger.git
